.LoginContainer {
    padding-top: 150px;
    margin:auto;
    height: 500;
    width: 500px;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.LoginContainer label {
    font-size: 18px;
    display: block; /* add this */
    padding: 5px 0;
}

input[type=text], input[type=password] {
    padding: 10px;
    width: 80%;
}

button {
    margin-top: 25px;
    width: 85%;
    padding: 10px 150px;
}